<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
/>
<!-- <router-outlet></router-outlet> -->
<body class="background">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <a class="navbar-brand" href="#">Hospital Management</a
    ><button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLinkActive="currentPage">Doctor</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#">Patient</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#">Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Patient History</a>
        </li>
      </ul>
    </div>
    <!-- <button type="button" class="btn button btn-primary btn-sm" -->
    <!-- <button type="button" class="btn btn-secondary"(click)="showAddForm()">Add Doctor</button> -->
    <!-- (click)="showAddForm()">Add Doctor</button> -->
  </nav>
  <div *ngIf="!showForm" class="d-flex justify-content-start mt-2 mb-2 m-2">
    <button type="button" class="btn btn-secondary" (click)="showAddForm()">
      Add Doctor
    </button>
  </div>
</body>
<br />
<br />
<div *ngIf="showForm" class="container mt-4">
  <div class="card mb-3">
    <div class="card-header py-3">
      <h5 class="mb-0"><b>Doctor details</b></h5>
    </div>
    <form>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col">
            <div class="form-outline">
              <label class="form-label required"><b>Name</b></label>
              <input
                type="text"
                [(ngModel)]="name"
                [ngModelOptions]="{ standalone: true }"
                name="name"
                class="form-control"
                id="name"
                required
              />
              <div
                *ngIf="nameField?.touched && nameField?.invalid"
                class="text-danger"
              >
                Name is required.          
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <label class="form-label"><b>address</b></label>
              <input
                type="text"
                [(ngModel)]="address"
                [ngModelOptions]="{ standalone: true }"
                class="form-control"
                id="address"
              />
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <div class="form-outline">
              <label class="form-label required"><b>Specialty</b></label>
              <input
                type="text"
                [(ngModel)]="specialty"
                [ngModelOptions]="{ standalone: true }"
                class="form-control"
                id="specialty"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <label class="form-label required"><b>education</b></label>
              <input
                type="text"
                [(ngModel)]="education"
                [ngModelOptions]="{ standalone: true }"
                class="form-control"
                id="education"
              />
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <div class="form-outline">
              <label class="form-label required"><b>Phone Number</b></label
              ><input
                type="text"
                [(ngModel)]="PhoneNo"
                [ngModelOptions]="{ standalone: true }"
                class="form-control"
                id="PhoneNo"
              />
            </div>
          </div>

          <div class="col">
            <div class="form-outline">
              <label class="form-label required"><b>Email</b></label
              ><input
                type="text"
                [(ngModel)]="Email"
                [ngModelOptions]="{ standalone: true }"
                class="form-control"
                id="Email"
                name="Email"
                required
              />
              <div *ngIf="!emailIsValid()" class="text-danger">
                Please enter a valid email address (username@gmail.com).
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <div class="form-outline">
              <label class="form-label required"><b>Gender</b></label>
              <select
                class="form-select"
                [(ngModel)]="Gender"
                [ngModelOptions]="{ standalone: true }"
              >
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <label class="form-label required"><b>Status</b></label>
              <select
                class="form-select"
                [(ngModel)]="Status"
                [ngModelOptions]="{ standalone: true }"
              >
                <option value="Permanent">Permanent</option>
                <option value="On Request">On Request</option>
                <option value="temporarily not available">
                  temporarily not available
                </option>
                <option value="Relieved">Relieved</option>
                <option value="Removed">Removed</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            <div class="row">
              <label class="form-label required"
                ><b>Weekday Availability</b></label
              >
              <div class="col-6">
                <div class="form-outline">
                  <select
                    class="form-select mb-2"
                    [(ngModel)]="AvailabilityWeekdaysDay"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-outline">
                  <select
                    class="form-select"
                    [(ngModel)]="AvailabilityWeekdaysTime"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <option value="10AM - 2PM">10AM - 2PM</option>
                    <option value="4PM - 8PM">4PM - 8PM</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <label class="form-label required"
              ><b>Weekend Availability</b></label
            >
            <div class="row">
              <div class="col-6">
                <div class="form-outline">
                  <select
                    class="form-select mb-2"
                    [(ngModel)]="AvailabilityWeekendsDay"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-outline">
                  <select
                    class="form-select"
                    [(ngModel)]="AvailabilityWeekendsTime"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <option value="10AM - 2PM">10AM - 2PM</option>
                    <option value="4PM - 8PM">4PM - 8PM</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-6">
            <div class="row">
              <div class="col-6">
                <div class="form-outline">
                  <label class="form-label"><b>Created By</b></label>
                  <input
                    type="text"
                    [(ngModel)]="CreatedBy"
                    [ngModelOptions]="{ standalone: true }"
                    class="form-control"
                    id="CreatedBy"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-outline">
                  <label class="form-label"><b>Updated By</b></label>
                  <input
                    type="text"
                    [(ngModel)]="ModifiedBy"
                    [ngModelOptions]="{ standalone: true }"
                    class="form-control"
                    id="ModifiedBy"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-outline">
              <label class="form-label"><b>Number of Appointments</b></label>

              <input
                type="text"
                [(ngModel)]="NumberOfAppointments"
                [ngModelOptions]="{ standalone: true }"
                class="form-control"
                id="NumberOfAppointments"
              />
            </div>
          </div>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-success" (click)="submit()">
            Submit
          </button>
          <button
            type="button"
            class="btn btn-secondary left-margin"
            (click)="onCancel()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div *ngIf="!showForm">
  <div class="container mt-5">
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">address</th>
          <th scope="col">Speciality</th>
          <th scope="col">education</th>
          <th scope="col">PhoneNo</th>
          <th scope="col">Email</th>
          <th scope="col">Status</th>
          <th scope="col">Number Of Appointments</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of displayedRecords">
          <td>{{ item.name }}</td>
          <td>{{ item.address }}</td>
          <td>{{ item.speciality }}</td>

          <td>{{ item.education }}</td>
          <td>{{ item.phoneNo }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.status }}</td>
          <td>{{ item.numberOfAppointments}}</td>
          <td>
            <a
              class="edit"
              title="Edit"
              data-toggle="tooltip"
              (click)="setUpdate(item)"
              ><i class="material-icons link">&#xE254;</i></a
            >
          </td>
          <td>
            <a
              class="delete"
              title="Delete"
              data-toggle="tooltip"
              (click)="Delete(item)"
              ><i class="material-icons link">&#xE872;</i></a
            >
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <button (click)="onPreviousPage()">Previous</button>
      <button *ngFor="let pageNumber of getPageNumbers()" (click)="onPageChange(pageNumber)">
        {{ pageNumber }}
      </button>
      <button (click)="onNextPage()">Next</button>
    </div>


</div>
